<div class="jumbotron boxrec"> 
  <h1>¿Olvidaste Tu Contraseña?</h1>
  <p>Simplemente Ingrese Su Dirección De Correo y Se Le Enviará Una Nueva Contraseña</p>
  <div class="img">
      <img a [src]="'/assets/img/angular.png'">
  </div>
  <form>
      <div class="form-group">
        <input type="email2" class="form-control" id="e-mail2" aria-describedby="emailHelp" placeholder="Ingrese su correo">
        
      </div>
      <button type="submit" class="btn btn-outline-primary">Recuperar Contraseña</button>
      <br>
      <br>
      <div>
          <br>
          <br>
          <a routerLink="/login">¿Ya Tienes Cuenta? ¡CONECTATE!</a>
      </div>
     
    </form>
</div>
