<div class="jumbotron boxlogin"> 
    <h1>!Bienvenido de nuevo¡</h1>
    <div class="img">
        <img a [src]="'/assets/img/angular.png'">
    </div>
    <form>
        <div class="form-group">
          <input type="email" class="form-control" id="e-mail" aria-describedby="emailHelp" placeholder="Ingrese su correo">
          
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn btn-outline-primary">Iniciar sesíon</button>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="check">
            <label class="form-check-label" for="recuerda">Recordarme</label>
          </div>
        <div>
            <a routerLink="/recuperacion">¿Olvidaste Tu Contraseña?</a>
            <br>
            <br>
        </div>
        
      </form>   
  </div>
